{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>CaseEntity list</h1>
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Company</th>
                    <th>Name</th>
                    <th>Accountnumber</th>
                    <th>Participantexternalneeded</th>
                    <th>Participantinternalneeded</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for caseEntity in caseEntities %}
                <tr>
                    <td><a href="{{ path('caseentity_show', { 'id': caseEntity.id }) }}">{{ caseEntity.id }}</a></td>
                    <td>{{ caseEntity.company }}</td>
                    <td>{{ caseEntity.name }}</td>
                    <td>{{ caseEntity.accountNumber }}</td>
                    <td>{% if caseEntity.participantExternalNeeded %}Yes{% else %}No{% endif %}</td>
                    <td>{% if caseEntity.participantInternalNeeded %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('caseentity_show', { 'id': caseEntity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('caseentity_edit', { 'id': caseEntity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <ul>
            <li>
                <a href="{{ path('caseentity_new') }}" class="btn btn-primary" class="btn btn-primary">Create a new entry</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
