{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>CaseEntity creation</h1>
        
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="btn btn-primary">
        {{ form_end(form) }}
        
        <ul>
            <li>
                <a href="{{ path('caseentity_index') }}" class="btn btn-default">Back to the list</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
