{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>CaseEntity</h1>
        
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ caseEntity.id }}</td>
                </tr>
                <tr>
                    <th>Company</th>
                    <td>{{ caseEntity.company }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ caseEntity.name }}</td>
                </tr>
                <tr>
                    <th>Accountnumber</th>
                    <td>{{ caseEntity.accountNumber }}</td>
                </tr>
                <tr>
                    <th>Participantexternalneeded</th>
                    <td>{% if caseEntity.participantExternalNeeded %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Participantinternalneeded</th>
                    <td>{% if caseEntity.participantInternalNeeded %}Yes{% else %}No{% endif %}</td>
                </tr>
            </tbody>
        </table>
        
        <ul>
            <li>
                <a href="{{ path('caseentity_index') }}" class="btn btn-default">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('caseentity_edit', { 'id': caseEntity.id }) }}" class="btn btn-primary">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
