{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <h1>Person edit</h1>
        
        {{ form_start(edit_form, {'attr': {'id': 'edit-form', 'action': path('person_edit', {'id': person.id }) }}) }}
            {{ form_widget(edit_form) }}
            {% if not app.request.isXmlHttpRequest %}
                <input type="submit" value="Edit" class="btn btn-primary">
            {% endif %}
        {{ form_end(edit_form) }}
        
        {% if not app.request.isXmlHttpRequest %}
            <ul>
                <li>
                    <a href="{{ path('person_index') }}" class="btn btn-default">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-danger">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
