{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Person list</h1>
            
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Username</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Tel</th>
                        <th>Address</th>
                        <th>Postal</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Iban</th>
                        <th>Admin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in people %}
                    <tr>
                        <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                        <td>{{ person.firstname }}</td>
                        <td>{{ person.lastname }}</td>
                        <td>{{ person.username }}</td>
                        <td>{{ person.company }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.tel }}</td>
                        <td>{{ person.address }}</td>
                        <td>{{ person.postal }}</td>
                        <td>{{ person.city }}</td>
                        <td>{{ person.country }}</td>
                        <td>{{ person.iban }}</td>
                        <td>{% if person.admin %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('person_show', { 'id': person.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('person_edit', { 'id': person.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            {#  <ul>
                <li>
                    <a href="{{ path('person_new') }}">Create a new entry</a>
                </li>
            </ul> #}
        </div>
    </div>
{% endblock %}
