{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Person</h1>
            
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ person.id }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ person.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ person.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ person.username }}</td>
                    </tr>
                    <tr>
                        <th>Company</th>
                        <td>{{ person.company }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ person.email }}</td>
                    </tr>
                    <tr>
                        <th>Tel</th>
                        <td>{{ person.tel }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ person.address }}</td>
                    </tr>
                    <tr>
                        <th>Postal</th>
                        <td>{{ person.postal }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ person.city }}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{ person.country }}</td>
                    </tr>
                    <tr>
                        <th>Iban</th>
                        <td>{{ person.iban }}</td>
                    </tr>
                    <tr>
                        <th>Admin</th>
                        <td>{% if person.admin %}Yes{% else %}No{% endif %}</td>
                    </tr>
                </tbody>
            </table>
            
            <ul>
                <li>
                    <a href="{{ path('person_index') }}" class="btn btn-default">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('person_edit', { 'id': person.id }) }}" class="btn btn-primary">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-danger">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
