{% set ajax = app.request.isXmlHttpRequest %}
{% if not ajax %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">App</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
<!--             <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul> -->
            {% if person_service.person() != null %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal" id="user-icon" href="{{ path('person_edit', {'id': person_service.person().id}) }}" data-target="#user-modal">
                            <i class="fa fa-user"></i>    
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('submission_index') }}">Submissions</a>
                    </li>
                    {% if person_service.person().isAdmin() %}
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entities <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('person_index') }}">Person</a>
                                </li>
                                <li>
                                    <a href="{{ path('costcenter_index') }}">CostCenter</a>
                                </li>
                                <li>
                                    <a href="{{ path('caseentity_index') }}">Case</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </nav>
    <div class="container">
    {% endif %}
        {% block body %}
            
        {% endblock %}
    {% if not ajax %}
    </div>

    {% if person_service.person() != null %}
        <!-- User modal -->
        <div class="modal fade" id="user-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit</h4>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% block javascript %}
<script>
    $(document).on('submit', '.modal form', function (e) {
        var form = e.target;
        if (form.method == 'post') {
            $.post(form.action, $(form).serialize(), function (resp) {
                if (resp.success) {
                    $(form).closest('.modal').modal('hide');
                    alert('Data was saved.');   
                } else {
                    $('#user-modal .modal-body').html(resp);
                }
            });
        }
        return false;
    });

    // Fill modal with content from link href
    $("#user-icon").click(function(e) {

        var $modal = $($(this).attr('data-target'));
        $modal.find(".modal-body").load($(this).attr("href"));
        $modal.modal('show');

        return false;
    });

    $('#user-modal .modal-footer .btn-primary').click(function (e) {
        $('#user-modal form#edit-form').submit();

        return false;
    });

</script>
{% endblock %}
</body>
</html>
{% endif %}