{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Submission list</h1>
        
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Reference</th>
                        <th>Purpose</th>
                        <th>Amount</th>
                        <th>Costcenter</th>
                        <th>Casename</th>
                        <th>Participantinternal1</th>
                        <th>Participantinternal2</th>
                        <th>Participantinternal3</th>
                        <th>Participantinternal4</th>
                        <th>Participantinternal5</th>
                        <th>Participantexternal1</th>
                        <th>Participantexternal2</th>
                        <th>Participantexternal3</th>
                        <th>Participantexternal4</th>
                        <th>Participantexternal5</th>
                        <th>Attachment1</th>
                        <th>Attachment2</th>
                        <th>Attachment3</th>
                        <th>Attachment4</th>
                        <th>Attachment5</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td><a href="{{ path('submission_show', { 'id': submission.id }) }}">{{ submission.id }}</a></td>
                        <td>{{ submission.reference }}</td>
                        <td>{{ submission.purpose }}</td>
                        <td>{{ submission.amount }}</td>
                        <td>{{ submission.costCenter }}</td>
                        <td>{{ submission.caseName }}</td>
                        <td>{{ submission.participantInternal1 }}</td>
                        <td>{{ submission.participantInternal2 }}</td>
                        <td>{{ submission.participantInternal3 }}</td>
                        <td>{{ submission.participantInternal4 }}</td>
                        <td>{{ submission.participantInternal5 }}</td>
                        <td>{{ submission.participantExternal1 }}</td>
                        <td>{{ submission.participantExternal2 }}</td>
                        <td>{{ submission.participantExternal3 }}</td>
                        <td>{{ submission.participantExternal4 }}</td>
                        <td>{{ submission.participantExternal5 }}</td>
                        <td>{{ submission.attachment1 }}</td>
                        <td>{{ submission.attachment2 }}</td>
                        <td>{{ submission.attachment3 }}</td>
                        <td>{{ submission.attachment4 }}</td>
                        <td>{{ submission.attachment5 }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('submission_show', { 'id': submission.id }) }}">show</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}
