{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>CostCenter edit</h1>
            
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" class="btn btn-primary">
            {{ form_end(edit_form) }}
            
            <ul>
                <li>
                    <a href="{{ path('costcenter_index') }}" class="btn btn-default">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-danger">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
