{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>CostCenter list</h1>
        
        <table class="table table-responsive table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Company</th>
                    <th>Costcenter</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in costCenterEntities %}
                <tr>
                    <td><a href="{{ path('costcenter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.company }}</td>
                    <td>{{ entity.costcenter }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('costcenter_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('costcenter_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <ul>
            <li>
                <a href="{{ path('costcenter_new') }}" class="btn btn-primary">Create a new entry</a>
            </li>
        </ul>
    </div>
</div>{% endblock %}
