{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>CostCenter</h1>
            
            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ costCenter.id }}</td>
                    </tr>
                    <tr>
                        <th>Company</th>
                        <td>{{ costCenter.company }}</td>
                    </tr>
                    <tr>
                        <th>Costcenter</th>
                        <td>{{ costCenter.costcenter }}</td>
                    </tr>
                </tbody>
            </table>
            
            <ul>
                <li>
                    <a href="{{ path('costcenter_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('costcenter_edit', { 'id': costCenter.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
