<h3>Submission details</h3>
<div>
    <p>
        Reference <strong>{{ submission.reference }}</strong>
    </p>
    <p>
        Purpose <strong>{{ submission.purpose }}</strong>
    </p>
    <p>
        Amount <strong>{{ submission.amount }}</strong>
    </p>
    <p>
        Cost Center <strong>{{ submission.costCenter }}</strong>
    </p>
    <p>
        Particpant Internal 1 <strong>{{ submission.participantInternal1 }}</strong>
    </p>

    <p>
        Particpant Internal 2 <strong>{{ submission.participantInternal2 }}</strong>
    </p>
    <p>
        Particpant Internal 3 <strong>{{ submission.participantInternal3 }}</strong>
    </p>
    <p>
        Particpant Internal 4 <strong>{{ submission.participantInternal4 }}</strong>
    </p>
    <p>
        Particpant Internal 5 <strong>{{ submission.participantInternal5 }}</strong>
    </p>

    <p>
        Particpant External 1 <strong>{{ submission.participantExternal1 }}</strong>
    </p>

    <p>
        Particpant External 2 <strong>{{ submission.participantExternal2 }}</strong>
    </p>
    <p>
        Particpant External 3 <strong>{{ submission.participantExternal3 }}</strong>
    </p>
    <p>
        Particpant External 4 <strong>{{ submission.participantExternal4 }}</strong>
    </p>
    <p>
        Particpant External 5 <strong>{{ submission.participantExternal5 }}</strong>
    </p>
    
</div>