{% extends 'base.html.twig' %}

{% block body %}
    <h1>Submission</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ submission.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ submission.reference }}</td>
            </tr>
            <tr>
                <th>Puprose</th>
                <td>{{ submission.puprose }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ submission.amount }}</td>
            </tr>
            <tr>
                <th>Costcenterid</th>
                <td>{{ submission.costCenterId }}</td>
            </tr>
            <tr>
                <th>Casename</th>
                <td>{{ submission.caseName }}</td>
            </tr>
            <tr>
                <th>Participantinternal1</th>
                <td>{{ submission.participantInternal1 }}</td>
            </tr>
            <tr>
                <th>Participantinternal2</th>
                <td>{{ submission.participantInternal2 }}</td>
            </tr>
            <tr>
                <th>Participantinternal3</th>
                <td>{{ submission.participantInternal3 }}</td>
            </tr>
            <tr>
                <th>Participantinternal4</th>
                <td>{{ submission.participantInternal4 }}</td>
            </tr>
            <tr>
                <th>Participantinternal5</th>
                <td>{{ submission.participantInternal5 }}</td>
            </tr>
            <tr>
                <th>Participantexternal1</th>
                <td>{{ submission.participantExternal1 }}</td>
            </tr>
            <tr>
                <th>Participantexternal2</th>
                <td>{{ submission.participantExternal2 }}</td>
            </tr>
            <tr>
                <th>Participantexternal3</th>
                <td>{{ submission.participantExternal3 }}</td>
            </tr>
            <tr>
                <th>Participantexternal4</th>
                <td>{{ submission.participantExternal4 }}</td>
            </tr>
            <tr>
                <th>Participantexternal5</th>
                <td>{{ submission.participantExternal5 }}</td>
            </tr>
            <tr>
                <th>Attachment1</th>
                <td>{{ submission.attachment1 }}</td>
            </tr>
            <tr>
                <th>Attachment2</th>
                <td>{{ submission.attachment2 }}</td>
            </tr>
            <tr>
                <th>Attachment3</th>
                <td>{{ submission.attachment3 }}</td>
            </tr>
            <tr>
                <th>Attachment4</th>
                <td>{{ submission.attachment4 }}</td>
            </tr>
            <tr>
                <th>Attachment5</th>
                <td>{{ submission.attachment5 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('submission_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
