{% extends 'AppBundle::layout.html.twig' %}

{% set selectedCase = cases|length > 0 ? cases[0] : null %}
{% set showParticipantInt = selectedCase ? selectedCase.participantInternalNeeded : true %}
{% set showParticipantExt = selectedCase ? selectedCase.participantExternalNeeded : true %}

{% set participantIntClass = 'participant-int' ~ (showParticipantInt ? '': ' hide') %}
{% set participantExtClass = 'participant-ext' ~ (showParticipantExt ? '': ' hide') %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
                {# {{ form_widget(form) }} #}
                {{ form_row(form.purpose) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.costCenter) }}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Case name</label>
                    
                    <div class="col-sm-9">
                        <select id="submission_caseName" name="submission[caseName]" class="form-control">
                        {% for case in cases %}
                            <option
                                data-participant-int="{{ case.participantInternalNeeded ? '1' : '0' }}"
                                data-participant-ext="{{ case.participantExternalNeeded ? '1' : '0' }}"
                                value="{{ case.name }}" 
                                data-accountnr="{{ case.accountNumber }}" 
                                {{ loop.index == 0 ? 'selected' : '' }}
                            >
                            {{ case.name }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <p>
                            <strong>Account number:</strong>
                        </p>
                    </div>
                    {% if selectedCase != null %}
                    <div class="col-sm-9">
                        <strong id="account-number">{{ cases[0].accountNumber }}</strong>
                    </div>
                    {% endif %}
                </div>
                

                <div class="{{ participantIntClass }}">{{ form_row(form.participantInternal1, {'attr': {'class': participantIntClass }}) }}</div>

                <div class="{{ participantIntClass }}">{{ form_row(form.participantInternal2, {'attr': {'class': participantIntClass }}) }}</div>

                <div class="{{ participantIntClass }}">{{ form_row(form.participantInternal3, {'attr': {'class': participantIntClass }}) }}</div>
                
                <div class="{{ participantIntClass }}">{{ form_row(form.participantInternal4, {'attr': {'class': participantIntClass }}) }}</div>
                
                <div class="{{ participantIntClass }}">{{ form_row(form.participantInternal5, {'attr': {'class': participantIntClass }}) }}</div>

                <div class="{{ participantExtClass }}">{{ form_row(form.participantExternal1, {'attr': {'class': participantExtClass }}) }}</div>
                <div class="{{ participantExtClass }}">{{ form_row(form.participantExternal2, {'attr': {'class': participantExtClass }}) }}</div>
                <div class="{{ participantExtClass }}">{{ form_row(form.participantExternal3, {'attr': {'class': participantExtClass }}) }}</div>
                <div class="{{ participantExtClass }}">{{ form_row(form.participantExternal4, {'attr': {'class': participantExtClass }}) }}</div>
                <div class="{{ participantExtClass }}">{{ form_row(form.participantExternal5, {'attr': {'class': participantExtClass }}) }}</div>

                {{ form_row(form.attachment1File) }}
                {{ form_row(form.attachment2File) }}
                {{ form_row(form.attachment3File) }}
                {{ form_row(form.attachment4File) }}
                {{ form_row(form.attachment5File) }}
                {{ form_row(form.submit) }}
                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        var cases = {{ cases|json_encode|raw }}
        $('#submission_caseName').change(function (e) {
            var $selectedCase = $('#submission_caseName').find(':selected');
            var accountNumber = $selectedCase.attr('data-accountnr');
            var participantIntNeeded = $selectedCase.data('participant-int');
            var participantExtNeeded = $selectedCase.data('participant-ext');

            $('#account-number').text(accountNumber);

            if (participantIntNeeded) {
                $('.participant-int').removeClass('hide');
            } else {
                $('.participant-int').addClass('hide');
            }
            if (participantExtNeeded) {
                $('.participant-ext').removeClass('hide');
            } else {
                $('.participant-ext').addClass('hide');   
            }
        });
    </script>
{% endblock %}
